* {
  box-sizing: border-box;
}

/* Style the search field */
form.search input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}
.sidebar{
  color: white;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
}
.img-user{
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;
}
.post-item {
  margin-left: 5%;
  margin-bottom: 3%;
}
.main-sidebar-client {
  position: absolute;
  left: 0;
  background-color: #f1f1f1;
  min-height: 100%;
  width: 230px;
  z-index: 810;
}
.w3-bar-item.w3-button{
color: rgba(0,0,0,0.87);
}
.thumb{
  height: 50px;
}
.DraftEditor-editorContainer {
  background-color:#fff;
  border-left:.1px solid transparent;
  position:relative;
  z-index:1;
  height: 500px;
}
.suggestion-usd img {
  border-radius: 100px;
  height: 100%;
  width: 24%;
  border: 5px solid #fff;
}
.comment-info {
  float: left;
  width: 100%;
  background-color: #fff;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 15px;
}
.comment-up-info {
  width: 100%;
  padding-bottom: 2%;x;
  border-bottom: 1px solid #e5e5e5;
}
.comment-up-info img {
  float: none;
  margin-bottom: 10px;
  border-radius: 100px;
  height: 30px;
  object-fit: cover;
}
.comment-info-user {
  width: 100%;
  padding: 30px 20px;
}
.comment-info-user >div {
  float: left;
}
.comment-info-user h3 {
  margin-left: 15px;
  color: #e44d3a;
}
.comment-content p {
  color: black;
}
.btn-active{
  background-color: #e44d3a;
  color: #fff;
  font-size: 16px;
  border: 1px solid #e5e5e5;
  padding: 10px 25px;
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
}
.row.posts-detail {
  margin-bottom: 3%;
}
.bk-links .unvote i {
  color: black;
  font-size: 24px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.bk-links .vote i {
  color: white;
  font-size: 24px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #00a65a;
}
.unfollow {
  display: inline-block;
  padding: 0 12px;
  color: #fff;
  height: 35px;
  line-height: 35px;
  background-color: red;
}
.follow {
  display: inline-block;
  padding: 0 12px;
  color: #fff;
  height: 35px;
  line-height: 35px;
  background-color: #64d791;
}
.ui.table tfoot tr:first-child>th:only-child {
    border-radius: 0 0 .28571429rem .28571429rem;
}
.ui.right.floated.menu {
    float: right;
    margin: 0 0 0 .5rem;
}
.ui.pagination.menu .item {
    min-width: 3em;
    text-align: center;
}

.ui.menu>.item:first-child {
    border-radius: .28571429rem 0 0 .28571429rem;
}
.ui.menu .item {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: .92857143em 1.14285714em;
    text-transform: none;
    color: rgba(0,0,0,.87);
    font-weight: 400;
    -webkit-transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;
}
.ui.menu .item:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background: rgba(34,36,38,.1);
}
.ui.pagination.menu .icon.item i.icon {
    vertical-align: top;
}

.ui.menu .icon.item>.icon {
    width: auto;
    margin: 0 auto;
}
.ui.menu .item>i.icon {
    opacity: .9;
    float: none;
    margin: 0 .35714286em 0 0;
}
i.icon, i.icons {
    font-size: 1em;
}
i.icon {
    display: inline-block;
    opacity: 1;
    margin: 0 .25rem 0 0;
    width: 1.18em;
    height: 1em;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ui.pagination.menu .active.item {
    border-top: none;
    padding-top: .92857143em;
    background-color: rgba(0,0,0,.05);
    color: rgba(0,0,0,.95);
    box-shadow: none;
}
.ui.menu .active.item {
    background: rgba(0,0,0,.05);
    font-weight: 400;
}